@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500;700&family=Space+Mono:wght@400;700&display=swap');

.Container {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
}

.LeftContainer {
  width: 33rem;
  height: 28rem;
}

.RightContainer {
  display: flex;
  flex-direction: column;
  font-style: normal;
  letter-spacing: -0.035em;
}

.RightContainer h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 95px;
  color: #333333;
  font-family: 'Space Mono' !important;
}

.RightContainer p {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #4f4f4f;
  font-family: 'Space Mono' !important;
}

.RightContainer button {
  font-family: 'Space Mono' !important;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.035em;

  width: 13rem;
  height: 4.25rem;

  background-color: #333333;
  color: #ffffff;

  margin-top: 50px;

}

@media (max-width: 650px) {
  .Container {
    flex-direction: column;
    justify-content: center;
  }

  .LeftContainer {
    width: 80%;
    height: 80%;
    margin-left: 10%;
  }

  .RightContainer h1 {
    font-size: 48px;
    line-height: 1;
    margin-top: 40px;
  }

  .RightContainer p {
    font-size: 18px;
    margin-top: 0px;
  }

  .RightContainer button {
    justify-content: center;
    margin-top: 30px;
  }
}
